body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f4f4f9;
}

header {
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 1rem;
    text-align: center;
}

span{
    color: orangered;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

nav ul li a:hover{
    color: orangered;
    border-bottom: 3px solid orangered;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background-color: orangered;
    color: white;
}

pre {
    background: #272822;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}